.plugin-title,
.table-title{
    text-align: center;
    font-size: 32px;
}

.form-container{
    display: flex;
    width: 100%;
}

.btn{
    text-align: center;
}

.content-form{
    width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}

.content-form div{
    width: 100%;
}

.content-form input{
    width: 50%;
}

.content-form select{
    width: 50%;
}

.content-form label{
    font-size: 18px;
    margin-bottom: 10px;
}

#upcoming-table {
    border-collapse: collapse;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
  }
  
  #upcoming-table th {
    background-color: blue;
    color: white;
    text-transform: uppercase;
  }
  
  #upcoming-table th,
  #upcoming-table td {
    padding: 8px;
    font-size: 18px;
  }
  
  #upcoming-table tr {
    border-bottom: 1px solid #222;
  }
